body { 
	background:	#525252;
	font-family: arial;
}

h1 {
	text-align: center;
	color: white;
}

p1 { 
	position: absolute;
	left: 140px;
	top: 80px;
	color: white;
}

p2 { 
	position: absolute;
	right: 480px;
	top: 80px;
	color: white;
}

rect{
	fill:grey;
	stroke:black;
	stroke-width:5;
	opacity:"0.5"
    

}

.titles {
    font-size: 20px;
}

.insideBoxText{
    font-size: 20px;
}

text {
    font-size: 20px;
    color: white;
}